@charset "UTF-8";
h1 {
  font-size: 3rem;
  text-align: center;
  background-color: #800000;
  color: #ffffff;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #800000;
  text-decoration: underline;
}

p {
  color: #800000;
  font-size: 1rem;
  text-align: center;
}

img {
  width: 300px;
  height: 230px;
  border: 2px solid #800000;
}

.contenedor-productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer {
  background-color: rgb(94, 93, 93);
}

/* logo de whatsapp */
.wpp-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.fondologo-whatsapp {
  position: fixed;
  bottom: 3rem;
  right: 0;
}

h4 {
  font-size: 1rem;
  background-color: #800000;
  color: #ffffff;
}

/* estilo mapa */
.mapa {
  width: 300px;
  height: 230px;
  border: 2px solid #800000;
}

h3 {
  color: #ffffff;
  text-decoration: underline;
}

/* estilos de los productos */
.footer-productos {
  background-color: #ffffff;
}

#section-pie-de-pagina-productos {
  padding: 20px 0;
}

h5 {
  display: flex;
  justify-content: center;
}

#img-dentro-de-producto {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(190, 204, 216);
}

/* móvil */
@media only screen and (max-width: 599px) {
  .fondologo-whatsapp {
    display: flex;
    position: static;
  }
}
/* tablet */
@media only screen and (min-width: 600px) {
  .nav-pie-de-pagina-productos {
    border: 1px solid #800000;
    display: flex;
    justify-content: space-evenly;
  }
}
/* escritorio */
@media only screen and (min-width: 960px) {
  .nav-pie-de-pagina-productos {
    border: 1px solid #800000;
    display: flex;
    justify-content: space-between;
  }
}
#carouselExampleAutoplaying {
  width: 285px;
}

a:link {
  color: rgb(255, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(0, 0, 255);
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 150px);
  grid-template-columns: repeat(4, auto);
}
@media only screen and (max-width: 599px) {
  .grid-container .grid-item {
    border: solid 2px #800000;
    padding: 2px;
    margin: 2px;
  }
  .grid-container .primer-item {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: "Nunito", sans-serif;
    text-decoration: underline;
    color: #000000;
    font-size: 30px;
    background-color: #1f8feb;
  }
  .grid-container .segundo-item {
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: "Nunito", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-color: #20c200;
  }
  .grid-container .tercer-item {
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: "Nunito", sans-serif;
    color: rgb(69, 243, 112);
    font-size: 25px;
    background-color: #c200c2;
  }
  .grid-container .cuarto-item {
    grid-column: 1/2;
    grid-row: 4/5;
    font-family: "Nunito", sans-serif;
    color: aliceblue;
    font-size: 25px;
    background-color: #00098a;
  }
}
@media only screen and (min-width: 600px) {
  .grid-container .grid-item {
    border: solid 2px #800000;
    padding: 2px;
    margin: 2px;
  }
  .grid-container .primer-item {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: "Nunito", sans-serif;
    text-decoration: underline;
    color: #000000;
    font-size: 30px;
    background-color: #1f8feb;
  }
  .grid-container .segundo-item {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: "Nunito", sans-serif;
    color: 404040;
    font-size: 19px;
    background-color: #20c200;
  }
  .grid-container .tercer-item {
    grid-column: 3/4;
    grid-row: 3/4;
    font-family: "Nunito", sans-serif;
    color: #000000;
    font-size: 20px;
    background-color: #c200c2;
  }
  .grid-container .cuarto-item {
    grid-column: 4/5;
    grid-row: 4/5;
    font-family: "Nunito", sans-serif;
    color: aliceblue;
    font-size: 20px;
    background-color: #00098a;
  }
}

/*# sourceMappingURL=style.css.map */
