
footer {
    background-color: rgb(94, 93, 93);
  }
  
  /* logo de whatsapp */
  .wpp-img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
  
  .fondologo-whatsapp {
    position: fixed;
    bottom: 3rem;
    right: 0;
  }
  
  h4 {
    font-size: 1rem;
    background-color: #800000;
    color: #ffffff;
  }
  
  /* estilo mapa */
  .mapa {
    width: 300px;
    height: 230px;
    border: 2px solid #800000;
  }
  
  h3 {
    color: #ffffff;
    text-decoration: underline;
  }
  
  /* estilos de los productos */
  
  .footer-productos {
    background-color: #ffffff;
  }
  
  #section-pie-de-pagina-productos {
    padding: 20px 0;
  }
  
  h5 {
    display: flex;
    justify-content: center;
  }
  
  #img-dentro-de-producto {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  