footer {
  background-color: #E4DEBE;
}

/* logo de whatsapp */
.wpp-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.fondologo-whatsapp {
  position: fixed;
  bottom: 3rem;
  right: 0;
}

h4 {
  font-size: 1rem;
  text-decoration: underline;
  background-color: #800000;
  color: #ffffff;
}

/* estilo mapa */
.mapa {
  width: 290px;
  height: 230px;
  border: #800000 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

h3 {
  color: #000000;
  text-decoration: underline;
}

/* estilos de los productos */

.footer-productos {
  background-color: #ffffff;
}



h5 {
  display: flex;
  justify-content: center;
}

#img-dentro-de-producto {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
