$color-empresa: #800000;

h1 {
  font-size: 3rem;
  text-align: center;
  background-color: $color-empresa;
  color: #ffffff ;
}

h2 {
  background-color: #D24545;
  font-size: 1.5rem;
  text-align: left;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

p {
  background-color: #320083;
  color: #fdfdfd;
  font-size: 1.2rem;
  text-align: center;
}
.nav-inicio{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; 
}