img {
  width: 290px;
  height: 230px;
  border: #D24545 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contenedor-productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h5 {
  color: $color-empresa;
  font-size: 1rem;
}